@model PagedList.IPagedList<VaucherSystem.Models.ViewModels.Home.VaucherViewModel>
@using PagedList.Mvc

<div class="container">
    <div class="row">
        @foreach (var vaucher in Model)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="@Url.Action("ShowImage", "Home", new { vaucherId = vaucher.Id })">
                    <div class="caption">
                        <h4>@vaucher.Name</h4>
                        <p><strong>Quantity: </strong>@vaucher.Quantity</p>
                        <p><strong>Regular Price: </strong>@vaucher.Price lv</p>
                        <p><strong>Discount: </strong>@vaucher.Discount%</p>
                        <p><strong>Discounted Price: </strong>@vaucher.DiscountedPrice lv</p>
                        <p>@Html.ActionLink("Details", "VaucherDetails", "Home", new { area = "", vaucherId = vaucher.Id }, new { @class = "btn btn-info" })</p>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page = page }),
    new PagedListRenderOptions
    {
        LinkToFirstPageFormat = "<< Primera",
        LinkToPreviousPageFormat = "< Previous",
        LinkToNextPageFormat = "Next >",
        LinkToLastPageFormat = "&Uacute;ltima >>"
    })