@model VaucherSystem.Models.ViewModels.Home.IndexVaucherDetailsViewModel

<hr />
<div class="container" style="margin-top: 5px">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="@Url.Action("ShowImage", "Home", new { vaucherId = Model.Id })">
                <div class="caption">
                    <h4>@Model.Name</h4>
                    <p><strong>Quantity: </strong>@Model.Quantity</p>
                    <p><strong>Regular Price: </strong>@Model.Price</p>
                    <p><strong>Discount: </strong>@Model.Discount%</p>
                    <p><strong>Discounted Price: </strong>@Model.DiscountedPrice</p>
                    <p><strong>Category: </strong>@Model.CategoryName</p>
                    <p><strong>Ends on: </strong>@Model.EndDate</p>
                    <label for="description">Description:</label>
                    <textarea disabled class="form-control" rows="5" id="description">@Model.Description</textarea>
                    
                    @using (Html.BeginForm("BuyVaucher", "Customer", new { area = "Customer" }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Id)
                        <div class="checkbox">
                            <label>
                                <input id="Agrees" type="checkbox" value="true" name="Agrees" />I Agree to Company's Terms and Conditions!
                                <input type="hidden" value="false" name="Agrees" />
                            </label>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Buy Vaucher" />
                    }

                </div>
            </div>
        </div>
    </div>
</div>

